{% extends "base.html" %}

{% block content %}
    <h1>Medications</h1>
    <a href="{{ url_for('main.add_medication') }}">Add Medication</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Min Stock Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for med in medications %}
            <tr>
                <td>{{ med.name }}</td>
                <td>{{ med.description }}</td>
                <td>{{ med.quantity }}</td>
                <td>{{ med.min_stock_level }}</td>
                <td>
                    <a href="{{ url_for('main.medication', id=med.id) }}">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
