{% extends "base.html" %}

{% block content %}
<div id="qr-reader" style="width: 500px"></div>
<div id="qr-reader-results"></div>

<script type="text/javascript">
function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    console.log(`Code matched = ${decodedText}`, decodedResult);
    // redirect to a page that processes the scanned code
    window.location.href = "/process_qr/" + decodedText;
}

var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}
